<div class="container text-center">
  <h1>About us</h1>
  <p>This is DevMatch. We focus on creating a community where entrepreneurs can
     find developers and investors to help build their products. Lorem ipsum dolor sit amet, 
     consectetur adipisicing elit. Impedit, officiis doloremque sit quasi 
     accusantium ad optio earum dolorum non numquam temporibus repudiandae 
     architecto nostrum dicta possimus ea dolorem tempora laudantium.</p>
</div>